html, body {
    padding : 0 0 0 0;
    margin : 0 0 0 0 ;
    box-sizing : border-box;
  }

  #exTab1 {
    background-color: #FFFFFF;
    margin-top : 50px;
    border: 2px solid #ddd;
  }
  
  #exTab1 .tab-content {
    color : black;
    padding : 30px 0px 30px 0px;
  }
  
  #exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  
  /* remove border radius for the tab */
  
  #exTab1 .nav-pills > li > a {
    border-radius: 0;
    color : black;
  }
  
  /* change border radius for the tab , apply corners on top*/
  
  #exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
  }
  
  #exTab3 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }



  .nav-pills>li.active>a,
  .nav-pills>li.active>a:hover,
  .nav-pills>li.active>a:focus {
    background-color: white;
  }

  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bolder;
    border-bottom: 2px solid #ddd;
}

.tableTitle {
  width : 25%;
}

  
  
  
  